/* === FONTS === */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


/* === VARIABLE === */

:root {
  --c-light-text:  #000;
  --c-light-background:url("Csfondo.svg") repeat,
  linear-gradient( #fff, #fff);
  --c-dark-text: #fff;
  --c-dark-background:url("Msfondo.svg") repeat, linear-gradient( #1e1e1e,#1e1e1e);
  --variable1: 2.5vh;
  --variable2: .5vh;
  --variable3: 25px;
  --variable4: 5px;
  --font-size: 2vh;
  --h1-font-size: 4.75vh;
  --h2-font-size: 4.75vh;
  --h3-font-size: 2vh;
  --variable5: 82%;
  --size-card: 100%;
  --center: 12%;
}


/* === LIGHT THEME === */

#light {
  border-radius: var(--variable1);
  padding: var(--variable1);
  background-color: rgb(243, 243, 243);
}

#lights {
  font-size: var(--h2-font-size);
  cursor: pointer;
  border-radius: var(--variable2);
  padding: var(--variable2);
  background-color: rgb(255, 255, 255);
}

#shadowlight {
  background-color: rgb(238, 238, 238);
  border-radius: var(--variable1);
  padding-bottom: 1rem;
  width: var(--variable5);
  text-align: center;
  width: var(--size-card);
}

.theme-light {
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  color: var(--c-text);
  background: var(--c-background);
  padding-top: 50px;
  padding-left: var(--center) !important;
  padding-right: var(--center) !important;
  
}


/* === DARK THEME === */

#darks {
  font-size: var(--h2-font-size);
  cursor: pointer;
  border-radius: var(--variable2);
  padding: var(--variable2);
  background-color: rgb(52, 52, 53);
}

#dark {
  border-radius: var(--variable1);
  padding: var(--variable1);
  background-color: rgb(37, 37, 38);
}

#shadowdark {
  background-color: rgb(22, 22, 23);
  border-radius: var(--variable1);
  padding-bottom: 1rem;
  width: var(--variable5);
  text-align: center;
  width: var(--size-card);
}

.theme-dark {
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  color: var(--c-text);
  background: var(--c-background);
  padding-top: 50px;
  padding-left: var(--center) !important;
  padding-right: var(--center) !important;
}

/* === SIZE === */

  @media screen and (max-width:413px) {
    :root 
    {
      --h1-font-size: 3.8vh;
      --h2-font-size: 3.8vh;
      --font-size: 2vh;
    }
  } 
  

/* STUFF */

a {
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

html {
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  align-self: stretch;
}

#bold {
 font-size: var(--h2-font-size);
}

#shortcut {
  justify-content: center;
  padding-top: 1rem;
}

input {
  cursor: pointer;
}

a {
  text-decoration:none;
  font-weight: bold;
  
}

#project {
  text-align: left !important;
}

.small {
  font-size: var(--h1-font-size) !important;
  display:inline-block !important;
  border-radius: .8rem !important;
}

.link {
  font-size: var(--h3-font-size)  !important;
  width: 1% !important;
  border-radius: .4rem !important;
}

div {
  /* Line space*/
  padding-bottom: 10px;
}
