@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
a {
  color: inherit;
}
html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
    flex-direction: column;
    position: relative;
    padding-left: 0px;
    padding-top: 50px;
    width: auto;
    align-self: stretch;
    font-family: 'Noto Sans', sans-serif;
  }

body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0px;
  padding-top: 50px;
  width: auto;
  align-self: stretch;
  font-family: 'Noto Sans', sans-serif;
   
}

#light {
  border-radius: 25px;
  background-color: rgb(243, 243, 243);
  padding: 25px; 
}

#dark {
  border-radius: 25px;
  background-color: rgb(37, 37, 38);
  padding: 25px; 
}

#bold {
 font-size: 2.5rem;
}

#shortcut {
  justify-content: center;
  padding-top: 10px;
  padding: 25px;
}

#lights {
  font-size: 2em;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

#shadowlight {
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  padding-bottom: 10px;
  width: 52%;
}

#darks {
  font-size: 2em;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(52, 52, 53);
}

#shadowdark {
  background-color: rgb(22, 22, 23);
  border-radius: 25px;
  padding-bottom: 10px;
  width: 52%;
}

input {
  cursor: pointer;
}

:root {
  --c-light-text:  #000;
  --c-light-background:url("Csfondo.svg") repeat,
  linear-gradient( #fff, #fff);
  --c-dark-text: #fff;
  --c-dark-background:url("Msfondo.svg") repeat, linear-gradient( #1e1e1e,#1e1e1e);
}

.theme-light {
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  color: var(--c-text);
  background: var(--c-background);
}

.theme-dark {
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  color: var(--c-text);
  background: var(--c-background);
}

a {
  text-decoration:none;
}

#project {
  text-align: left !important;
}

.small {
  font-size: 50px !important;
  width: 0% !important;
  border-radius: 8px !important;
}

.link {
  font-size: 15px  !important;
  width: 1% !important;
  border-radius: 4px !important;
}
