/* === FONTS === */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


/* === VARIABLE === */

:root {
  --c-light-text:  #000;
  --c-light-background:url("Csfondo.svg") repeat,
  linear-gradient( #fff, #fff);
  --c-dark-text: #fff;
  --c-dark-background:url("Msfondo.svg") repeat, linear-gradient( #1e1e1e,#1e1e1e);
  --variable1: 2.5rem;
  --variable2: .5rem;
  --variable3: 25px;
  --variable4: 5px;
  --font-size: 1rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1rem;
  --variable5: 52%;
}


/* === LIGHT THEME === */

#light {
  border-radius: var(--variable1);
  background-color: rgb(243, 243, 243);
  padding: var(--variable1);
}

#lights {
  font-size: var(--h2-font-size);
  cursor: pointer;
  border-radius: var(--variable2);
  padding: var(--variable2);
  background-color: rgb(255, 255, 255);
}

#shadowlight {
  background-color: rgb(238, 238, 238);
  border-radius: var(--variable1);
  padding-bottom: 1rem;
  width: var(--variable5);
}

.theme-light {
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  color: var(--c-text);
  background: var(--c-background);
}


/* === DARK THEME === */

#darks {
  font-size: 2em;
  cursor: pointer;
  border-radius: var(--variable4);
  padding: var(--variable4);
  background-color: rgb(52, 52, 53);
}

#dark {
  border-radius: var(--variable3);
  background-color: rgb(37, 37, 38);
  padding: var(--variable3); 
}

#shadowdark {
  background-color: rgb(22, 22, 23);
  border-radius: var(--variable1);
  padding-bottom: 1rem;
  width: var(--variable5);
}

.theme-dark {
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  color: var(--c-text);
  background: var(--c-background);
}

/* === SIZE === */

@media screen and (max-width:1920px)
   {
     :root 
     {
      --variable1: 2.5rem;
      --variable2: .5rem;
      --variable3: 25px;
      --variable4: 5px;
      --variable5: 52%;
      --h1-font-size: 2.75rem;
      --h2-font-size: 2rem;
      --h3-font-size: 1rem;
     }
   }

   @media screen and (max-width:1233px) {
    :root 
    {
      --variable2: .4rem;
      --font-size: 0.9rem;
    }
  }

  @media screen and (max-width:1227px) {
    :root 
    {
      --variable2: .1rem;
    }
  }

  @media screen and (max-width:891px) {
    :root 
    {
      --h1-font-size: 2.25rem;
    }
  }

  @media screen and (max-width:762px) {
    :root 
    {
      --h1-font-size: 2rem;
    }
  }

  @media screen and (max-width:700px) {
    :root 
    {
      --h1-font-size: 1.55rem;
    }
  }

  @media screen and (max-width:585px) {
    :root 
    {
      --h1-font-size: 1.15rem;
      --variable1: 1rem;
      --font-size: 0.8rem;
    }
  }

  @media screen and (max-width:480px) {
    :root 
    {
      --h1-font-size: 1rem;
    }
  }

  @media screen and (max-width:440px) {
    :root 
    {
      --h1-font-size: 0.8rem;
    }
  }

  @media screen and (max-width:400px) {
    :root 
    {
      --h1-font-size: 0.4rem;
      --variable1: 0.1rem;
      --font-size: 0.7rem;
    }
  }
  

/* STUFF */
a {
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

html {
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0px;
  width: auto;
  align-self: stretch;
}

#bold {
 font-size: var(--h2-font-size);
}

#shortcut {
  justify-content: center;
  padding-top: 1rem;
  padding: var(--variable1);
}

input {
  cursor: pointer;
}

a {
  text-decoration:none;
}

#project {
  text-align: left !important;
}

.small {
  font-size: var(--h1-font-size) !important;
  display:inline-block !important;
  border-radius: .8rem !important;
}

.link {
  font-size: var(--h3-font-size)  !important;
  width: 1% !important;
  border-radius: .4rem !important;
}
